<div class="row">
    <div class="col-12 text-center">
        @if(loader == true){
            <div class="spinner-border"></div>
        } @else{
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Role Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let designation of designationList; let srno = index">
                        <td>
                            {{srno + 1}}
                        </td>
                        <td>
                            {{designation.designation}}
                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>