<div class="row pb-3">
  <div class="col-12 text-center">
    <div class="btn-group">
      <button type="button" class="btn primary" (click)="handleComponentChange('roles')" [ngClass]="currentComponent == 'roles' ? 'btn-success': 'btn-primary'">Roles</button>
      <button type="button" class="btn primary" (click)="handleComponentChange('designation')" [ngClass]="currentComponent == 'designation' ? 'btn-success': 'btn-primary'">Designation</button>
    </div>
  </div>
</div>
<div class="row">
    <div class="col-12" *ngIf="currentComponent === 'roles'">
        <app-roles> </app-roles>
    </div>
    <div class="col-12" *ngIf="currentComponent === 'designation'">
        <app-desgination></app-desgination>
    </div>
</div>


